<div class="container">
  <%= simple_form_for([:admin, @admin_department]) do |f| %>
      <div class="form-group">
        <%= f.input :name, label: "Department Name", input_html: { class: "form-control" } %>
      </div>

      <%= f.button :submit, "Create Employee", class: "btn btn-primary" %>
  <% end %>
</div>
